* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
}

header {
  text-align: center;
  background-image: -webkit-linear-gradient(bottom, #5fd6d6, #a1e6e6);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  font-family: 'Roboto', sans-serif;
}

.header__img {
  width: 8rem;
}

.header__img--desc {
  font-size: 3rem;
  text-transform: capitalize;
}

.header__location {
  display: flex;
}

.header__location--city,
.header__location--country {
  filter: drop-shadow(1px 0 2px rgba(0, 0, 0, 0.4));
  color: #fff;
  font-size: 5rem;
}

.header__timezone {
  font-size: 2rem;
  margin-top: 1rem;
}

.temp__section {
  background-image: linear-gradient(to top left, #ddf730, #f1f029);
  text-align: center;
}

.temperature {
  font-family: 'Roboto Slab', serif;
  font-size: 12rem;
}

.temperature::after {
  content: '';
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 3px solid;
  position: absolute;
  top: 22rem;
}

.weather__details {
  background-image: linear-gradient(to top, #74e881, #c9f671);
}
